
.hero {
    background: url('1.jpg') center/cover no-repeat;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}



.hero-content {
    max-width: 700px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.highlight {
    color: #ffcc00; 
}


.hero-subtitle {
    font-size: 1.8rem;
    margin-bottom: 20px;
}


.btn {
    display: inline-block;
    padding: 14px 28px;
    font-size: 1.3rem;
    color: white;
    background: #007bff;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: bold;
}


.btn:hover {
    background: #ffcc00; 
    transform: scale(1.1);
    color: black;
}
